body {
    font-family: "Gill Sans", "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #04BF62;
    font-size: 18px;
}

.menu-bar {
    background-color:#04BF62;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.menu-bar .right {
    display: flex;
    gap: 3em;
    margin-right: 3em;
}

.menu-bar a {
    text-decoration: none;
    color: #FDFDFC;
    font-weight: 600;
}

.menu-bar .logo {
    font-weight: 300;
    font-size: 35px;
    font-style: italic;
    margin-left: 3em;
}

.menu-bar .get-started {
    background-color: #00b7ff;
    padding: 12px;
    color: #FDFDFC;
    border-radius: 25px;
}

.menu-bar .right {
    font-size: 18px;
}

.get-started:hover {
    background-color: rgb(0, 166, 231);
}

.sign-up-button:hover {background-color: rgb(0, 166, 231);}

/*  gray #D9E0E2 
    white #FDFDFC
*/

.content-1 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 75px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-shrink: 0;
}

.content-1 .left {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #04BF62;
    color: #FDFDFC;
    font-size: 20px;
    gap: 20px;
}
.focus-span {
    color: #ee6055;
}
.addictive-span {
    color: #B5ead7
}
.gamifying-span {
    font-weight: 900;
    color: #FFF9BD;
}
.content-1 img {
    width: 600px;
}

.headline {
    margin: 0px;
}

.get-started {
    background-color: #00b7ff;
    padding: 12px;
    color: #FDFDFC;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
}

.get-started-container{
    margin-top: 5px;
}

.content-2 {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 50px;
    gap: 10px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9E0E2;
    margin: 0;
    padding: 60px 0;
    font-style: italic;
}

.quotes-content {
    display: flex;
    gap: 25px;
}
.quotes {
    width: 250px;
    height: 150px;
    background-color: #B5ead7;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 5px;
}
.quote-headline {
    font-style: normal;
}

.productivity-span-quote {
    color: #ee6055;
}

.sign-up {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.sign-up-button {
    background-color: #00b7ff;
    padding: 12px;
    color: #FDFDFC;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
}

.footer {
    height: 75px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #323b47;
    color: rgb(221, 220, 220);
}